.logoImg {
  width: 30px;
  margin: 0px 6px;
}
.pagewrapper {
  width: 100%;
  font-family: "Roboto";
}

.pointer {
  cursor: pointer;
}

.not_allowed {
  cursor: not-allowed;
}

.navbarStyles {
  z-index: 9999999;
}

.profileIcon {
  background-color: #f6ca65;
  height: 43px;
  width: 43px;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  text-align: center;
  padding: 10px;
}

.userName {
  color: #005b96;
  font-weight: 700;
}
